@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply w-full pl-10 pr-4 py-2.5 border border-blue-300 rounded-lg
         text-gray-700 focus:outline-none focus:ring-2
         focus:ring-blue-500 bg-white;
}

.input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-blue-500;
  font-size: 16px;
  width: 20px;
  height: 20px;
}

